<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="images" class = "row" id="divProductImage">
		<div class="col-2 boder m-3 p-2"style="border: 1px solid gray;">
		<div><label>Main image : [[${product.mainImage}]]</label></div>
			<div >
				<img class="img-fluid" id="thumbnail" alt="Main image preview" th:src="@{${product.mainImagePath}}" style="width: 200px; height: 200px">
				<input type="file" id="imgupload" name="imgupload" style="display: none;" accept="image.png, image.jpg" th:required="${product.mainImage == null}"/> 
				<input type="hidden" th:field="*{mainImage}"/>
			</div>
			<button type="button" onClick="fn_saveimg()" class="btn-upload btn btn-primary mt-4">
				<i class="fas fa-image"></i>Main image product
			</button>
		</div>
		<th:block th:each="productImage, status : ${product.images}">
			<div class="col-2 boder m-3 p-2"style="border: 1px solid gray;" th:id="'divExtraImage' + ${status.index}">
				<div>
					<label>Extra image #[[${status.index + 1}]] : [[${productImage.name}]]</label>
					<a class="btn mdi mdi-close-circle-outline font-18" name="linkRemoveExtraImage"></a>
				</div>
				<div >
					<img class="img-fluid" th:id="'extraThumbnail' + ${status.index}" th:alt="'Extra image #' + ${status.index + 1} + 'preview'" th:src="@{${productImage.imagePath}}" style="width: 200px; height: 200px">
					<input type="file" name="extraImage"  accept="image.png, image.jpg"/> 
					<input type="hidden" name="imageIds" th:id="'imageId'+ ${status.index}" th:value="${productImage.id}"/>
					<input type="hidden" name="imageNames" th:id="'imageName'+ ${status.index}" th:value="${productImage.name}"/>
				</div>
				<button type="button" onClick="fn_saveaExtraImg()" class="btn-upload btn btn-primary mt-4">
					<i class="fas fa-image"></i>Extra image #[[${status.index + 1}]]
				</button>
			</div>
		</th:block>
		<div class="col-2 boder m-3 p-2"style="border: 1px solid gray;" th:id="'divExtraImage'+${numberOfExistingExtraImages}">
			<div th:id="'extraImageHeader'+${numberOfExistingExtraImages}"><label>Extra image #[[${numberOfExistingExtraImages+1}]]</label></div>
			<div >
				<img class="img-fluid" th:id="'extraThumbnail'+${numberOfExistingExtraImages}" th:alt="'Extra image #' + ${numberOfExistingExtraImages} + ' preview'" th:src="@{/images/no_image.jpg}" style="width: 200px; height: 200px">
				<input type="file" name="extraImage"  accept="image.png, image.jpg"/> 
			</div>
			<button type="button" onClick="fn_saveExtraImg()" class="btn-upload btn btn-primary mt-4">
				<i class="fas fa-image"></i>Extra image #[[${numberOfExistingExtraImages +1 }]]
			</button>
		</div>
	</div>
	
	
	<div th:fragment="content">
		<div class="row mt-4">
			<div class="col-2 boder m-3 p-2" style="border: 1px solid gray;">
				<img class="img-fluid" id="thumbnail" alt="Main image preview" th:src="@{${product.mainImagePath}}" style="width: 200px; height: 200px">
				<label class="mt-4">Main image</label>
			</div>
			<th:block th:each="productImage, status : ${product.images}">
				<div class="col-2 boder m-3 p-2" style="border: 1px solid gray;">
					<img class="img-fluid" th:alt="'Extra image #' + ${status.index + 1} + 'preview'"th:src="@{${productImage.imagePath}}" style="width: 200px; height: 200px">
					<label class="mt-4">Extra image [[${status.index + 1}]]</label>
				</div>
			</th:block>
		</div>
	</div>
</body>
</html>