<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="product_overview" remove="tag" class="row">
		<div class="col-md-6">
			<div class="form-group row mb-2">
				<label class="col-lg-2 col-form-label text-end">Product name :</label>
				<div class="col-lg-9">
					<input type="text" class="form-control" th:field="*{name}" required minlength="3" maxlength="256">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group row mb-2">
				<label class="col-lg-2 col-form-label text-end">Alias :</label>
				<div class="col-lg-9">
					<input type="text" class="form-control" th:field="*{alias}" required minlength="3" maxlength="256" placeholder="Default is product name (spaces are replaced by dashes)">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group row mb-2">
				<label class="col-lg-2 col-form-label text-end">Brand :</label>
				<div class="col-lg-9">
					<select class="form-select" th:field="*{brand}" required>
						<th:block th:each="brand : ${listBrands}">
							<option th:value="${brand.id}">[[${brand.name}]]</option>
						</th:block>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group row mb-2">
				<label class="col-lg-2 col-form-label text-end">Category :</label>
				<div class="col-lg-9">
					<select class="form-select" th:field="*{category}" required>
						<th:block th:each="category : ${listCategorys}">
							<option th:value="${category.id}">[[${category.name}]]</option>
						</th:block>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group row mb-2">
				<label class="col-lg-2 col-form-label text-end">Enabled :</label>
				<div class="col-lg-9">
					<input type="checkbox" th:field="*{enabled}">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group row mb-2">
				<label class="col-lg-2 col-form-label text-end">In-Stock :</label>
				<div class="col-lg-9">
					<input type="checkbox" th:field="*{inStock}">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group row mb-2">
				<label class="col-lg-2 col-form-label text-end">Cost :</label>
				<div class="col-lg-9">
					<input type="number" class="form-control" th:field="*{cost}">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group row mb-2">
				<label class="col-lg-2 col-form-label text-end">Price :</label>
				<div class="col-lg-9">
					<input type="number" class="form-control" th:field="*{price}">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group row mb-2">
				<label class="col-lg-2 col-form-label text-end">Discount Percent :</label>
				<div class="col-lg-9">
					<input type="number" class="form-control" th:field="*{discountPercent}">
				</div>
			</div>
		</div>
	</div>
</body>
</html>