<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8" />
	<title>[[${pageTitle}]]</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
	<meta content="" name="author" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	
	<!-- App favicon -->
	<link rel="shortcut icon" href="images/favicon.ico">

	<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/common_form.js}" type="text/javascript"></script>

<!-- App css -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/icons.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/app.min.css}" rel="stylesheet" type="text/css" />

</head>
<body id="body" class="dark-sidebar">

	<!-- leftbar-tab-menu -->
	<div th:replace="fragments/left-sidebar" id="left-sidebar"></div>

	<!-- Top Bar Start -->
	<div th:replace="fragments/inc-header" id="inc-header"></div>

	<div class="page-wrapper">
		<div class="page-content-tab">

			<div class="container-fluid">
				<!-- Page-Title -->
				<div class="row">
					<div class="col-sm-12">
						<div class="page-title-box">
							<div class="float-end">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Unikit</a></li>
									<!--end nav-item-->
									<li class="breadcrumb-item"><a href="#">Projects</a></li>
									<!--end nav-item-->
									<li class="breadcrumb-item active">Product</li>
								</ol>
							</div>
							<h4 class="page-title">Products</h4>
						</div>
					</div>
				</div>
				<div class="row" style="margin-bottom: 20px;">
					<div class="col-6">
						<a class="btn btn-outline-blue btn-sm px-4 "
							th:href="@{/products/new-product}">Thêm sản phẩm</a>
					</div>
					<div class="col-6" style="text-align: right;">
						<a th:href="@{/products/export/csv}" type="button"
							class="btn btn-primary"><i class="fas fa-file-csv"></i></a> <a
							th:href="@{/products/export/excel}" type="button"
							class="btn btn-success"><i class="fas fa-file-excel"></i></a> <a
							th:href="@{/products/export/pdf}" type="button"
							class="btn btn-danger"><i class="fas fa-file-pdf"></i></a>
					</div>
					<div class="">
						<div th:replace="fragments/fragments :: search_form('/products/list_products/page/1')"></div>
					</div>
				</div>
				<!--end row-->
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-header">
								<div class="row align-items-center">
									<div class="col">
										<h4 class="card-title">Tất cả sản phẩm</h4>
									</div>
									<!--end col-->
									<div th:if="${message != null}"
										class="alert alert-success text-center" align="center">[[${message}]]</div>
								</div>
								<!--end row-->
							</div>
							<!--end card-header-->
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-striped">
										<thead class="thead-light">
											<tr>
												<th th:replace="fragments/fragments :: column_link('/products/list_products','id', 'ID')" />
												<th>Image</th>
												<th th:replace="fragments/fragments :: column_link('/products/list_products','name', 'Product Name')" />
												<th th:replace="fragments/fragments :: column_link('/products/list_products','brand', 'Brand Name')" />
												<th th:replace="fragments/fragments :: column_link('/products/list_products','category', 'Category Name')" />
												<th th:replace="fragments/fragments :: column_link('/products','enabled', 'Status')" />
												<th>Actions</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="product : ${listProducts}">
												<td>[[${product.id}]]</td>
												<td><img th:src="@{${product.mainImagePath}}" style="width: 100px; height: 100px;"></td>
												<td>
													<a th:href="@{'/products/detail/'+${product.id}}" class="link-detail">[[${product.shortName}]]</a>
												</td>
												<td>[[${product.brand.name}]]</td>
												<td>[[${product.category.name}]]</td>
												<td th:replace="fragments/fragments :: status(${product.enabled}, 'product', '/products/' + ${product.id})"/>
												<td>
													<a th:src="@{'/products/detail/'+${product.id}}" class="far fa-file-alt font-16 link-detail"></a>
													<span th:replace="fragments/fragments :: actions('/products/edit/'+${product.id}, '/products/delete/'+${product.id}, true, ${product.id})"/>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- notification -->
								<td th:replace="fragments/fragments :: modal_delete"/>
								
								<div th:replace="fragments/fragments :: pagination('/products/list_products', 'Sản phẩm top-level')"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Start Rightbar-->
			<div th:replace="fragments/right-bar" id="right-bar"></div>

			<!--Start Footer-->
			<div th:replace="fragments/inc-footer" id="inc-footer"></div>
			
			<div class="modal fade" id="detailModal">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Javascript  -->
	<script title="text/javascript">
	moduleURL = "[[@{/products}]]";

		$(document).ready(function() {
				$(".delete").on("click",function(e) {
					e.preventDefault();
					showDeleteConfirmModal($(this), 'product');
				});
				
				$(".link-detail").on("click",function(e) {
					e.preventDefault();
					linkDetailUrl = $(this).attr("href");
					$("#detailModal").modal("show").find(".modal-content").load(linkDetailUrl);
				});
				
		});
		
		function clearFilter() {
			window.location = "[[@{/products/list_products}]]"
		}
	</script>
</body>
</html>