
<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title">Product Detai</h4>
		<button type="button" class="close" data-dismiss="modal">&times;</button>
	</div>
	<div >
		<nav>
			<div class="nav nav-tabs" id="nav-tab">
				<a class="nav-link active" id="step1-tab" data-bs-toggle="tab" href="#overview">Overview</a>
				<a class="nav-link" id="step2-tab" data-bs-toggle="tab" href="#description">Description</a>
				<a class="nav-link " id="step3-tab" data-bs-toggle="tab" href="#images">Images</a>
				<a class="nav-link" id="step4-tab" data-bs-toggle="tab" href="#detail">Detail</a>
				<a class="nav-link" id="step4-tab" data-bs-toggle="tab" href="#shipping">Shipping</a>
			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane m-4 active" id="overview">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group row mb-2">
							<label class="col-lg-2 col-form-label text-end">Product name :</label>
							<div class="col-lg-9">
								<input type="text" class="form-control" th:value="${product.name}" readonly/>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group row mb-2">
							<label class="col-lg-2 col-form-label text-end">Alias :</label>
							<div class="col-lg-9">
								<input type="text" class="form-control" th:value="${product.name}" readonly>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group row mb-2">
							<label class="col-lg-2 col-form-label text-end">Brand :</label>
							<div class="col-lg-9">
								<input type="text" class="form-control" th:value="${product.brand.name}" readonly>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group row mb-2">
							<label class="col-lg-2 col-form-label text-end">Category :</label>
							<div class="col-lg-9">
								<input type="text" class="form-control" th:value="${product.category.name}" readonly>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group row">
							<label class="col-lg-2 col-form-label text-end">Enabled :</label>
							<div class="col-lg-9 mt-2">
								<input type="checkbox" th:checked="${product.enabled}" onclick="return false;">
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group row">
							<label class="col-lg-2 col-form-label text-end">In-Stock :</label>
							<div class="col-lg-9 mt-2">
								<input type="checkbox" th:checked="${product.inStock}" onclick="return false;">
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group row mb-2">
							<label class="col-lg-2 col-form-label text-end">Cost :</label>
							<div class="col-lg-9">
								<input type="text" class="form-control" th:value="${product.cost}" readonly>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group row mb-2">
							<label class="col-lg-2 col-form-label text-end">Price :</label>
							<div class="col-lg-9">
								<input type="text" class="form-control" th:value="${product.price}" readonly>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group row mb-2">
							<label class="col-lg-2 col-form-label text-end">Discount Percent :</label>
							<div class="col-lg-9">
								<input type="text" class="form-control" th:value="${product.discountPercent}" readonly>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group row mb-2">
							<label class="col-lg-2 col-form-label text-end">Update Time :</label>
							<div class="col-lg-9 mt-2">
								<span th:text="${#dates.format(product.updateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="description">
				<div th:replace="products/product_description ::content"></div>
			</div>
			<div class="tab-pane" id="images">
				<div th:replace="products/product_images :: content"></div>
			</div>
			<div class="tab-pane" id="detail">
				<div th:replace="products/product_details :: content"></div>
			</div>
			<div class="tab-pane" id="shipping">
				<div th:replace="products/product_shipping :: content"></div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button  type="button" class="close" data-dismiss="modal">Close</button>
	</div>
</div>
