<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="details" remove="tag" class="row" id="divProductDetails">
		<th:block th:each="detail, status : ${product.details}">
			<div class="form-inline" th:id="'divDetail' + ${status.index}">
				<div class="input-group" style="padding: 5px 15%" th:id="'clearDetail' + ${status.index}">
					<input type="hidden" name="detailIds" th:value="${detail.id}">
					<div class="input-group-prepend">
						<span class="input-group-text">Name</span>
					</div>
					<input type="text" class="form-control" name="detailNames" th:value="${detail.name}">
					<div class="input-group-prepend" style="padding-left: 10px">
						<span class="input-group-text">Value</span>
					</div>
					<input type="text" class="form-control" name="detailValues" th:value="${detail.value}">
					<a class="btn mdi mdi-close-circle-outline font-14" name="linkRemoveDetail"></a>
				</div>
			</div>
		</th:block>
		<div class="form-inline" th:id="'divDetail' + ${#lists.size(product.details)}">
			<div class="input-group" style="padding: 5px 15%" th:id="'clearDetail' + ${#lists.size(product.details)}">
				<input type="hidden" name="detailIds"value="0">
				<div class="input-group-prepend">
					<span class="input-group-text">Name</span>
				</div>
				<input type="text" class="form-control" name="detailNames">
				<div class="input-group-prepend" style="padding-left: 10px">
					<span class="input-group-text">Value</span>
				</div>
				<input type="text" class="form-control" name="detailValues">
			</div>
		</div>
		
	</div>
	
	
	<div th:fragment="content" class="card-body">
		<div >
			<table class="table table-striped table-bodered table-hover">
				<thead class="thead-dark" align="center">
					<tr>
						<th>Name</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody align="center">
					<tr th:each="detail: ${product.details}">
						<td>[[${detail.name}]]</td>
						<td>[[${detail.value}]]</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>