<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8" />
	<title>[[${pageTitle}]]</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
	<meta content="" name="author" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	
	<!-- App favicon -->
	<link rel="shortcut icon" href="images/favicon.ico">
	
	<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/common_form.js}" type="text/javascript"></script>
	
	<!-- App css -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/icons.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/app.min.css}" rel="stylesheet" type="text/css" />

</head>
<body id="body" class="dark-sidebar">

	<!-- leftbar-tab-menu -->
	<div th:replace="fragments/left-sidebar" id="left-sidebar"></div>

	<!-- Top Bar Start -->
	<div th:replace="fragments/inc-header" id="inc-header"></div>

	<div class="page-wrapper">

		<div class="page-content-tab">

			<div class="container-fluid">
				<!-- Page-Title -->
				<div class="row">
					<div class="col-sm-12">
						<div class="page-title-box">
							<div class="float-end">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Unikit</a></li>
									<!--end nav-item-->
									<li class="breadcrumb-item"><a href="#">Projects</a></li>
									<!--end nav-item-->
									<li class="breadcrumb-item active">Category</li>
								</ol>
							</div>
							<br>
							<h4 class="page-title">Category</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<div class="card radius-10">
						<div class="card-body">
							<form th:action="@{/categories/save}" method="post"
								enctype="multipart/form-data"
								onsubmit="return checkUnique(this)" th:object="${category}">
								<input type="hidden" th:field="*{id}" />
								<h5 class="mb-3">[[${pageTitle}]]</h5>
								<h5 class="mb-0 mt-4">Category Information</h5>
								<hr>
								<div class="row g-3">
									<div class="col-6">
										<label class="form-label">Name</label> <input type="text"
											class="form-control" th:field="*{name}" placeholder="name">
									</div>
									<div class="col-6">
										<label class="form-label">Alias</label> <input type="text"
											class="form-control" th:field="*{alias}" placeholder="alias">
									</div>
									<div class="col-6">
										<label class="form-label">Parent Category</label> <select
											class="form-control" th:field="*{parent}">
											<option value="0">[no parent]</option>
											<th:block th:each="cat : ${listCategories}">
												<option th:value="${cat.id}">[[${cat.name}]]</option>
											</th:block>
										</select>
									</div>
									<div class="col-6">
										<label class="form-label">Enabled</label> <input
											type="checkbox" th:field="*{enabled}" />
									</div>
									<div class="col-12">
										<div class="d-grid">
											<input type="hidden" th:field="*{image}" /> 
											<input type="file" id="imgupload" name="imgupload" style="display: none;" accept="image.png, image.jpg" 
													multiple th:required="${category.imagePath == null}" /> 
											<img id="thumbnail" alt="photos preview" style="width: 200px; height: 200px" th:src="@{${category.imagePath}}">
										</div>
										<button type="button" onClick="fn_saveimg()"
											class="btn-upload btn btn-primary mt-4">
											<i class="fas fa-image"></i> Image
										</button>
									</div>
								</div>
								<div class="mt-3" align="center">
									<input type="submit" class="btn btn-dark px-4" value="Save" />
									<a type="button" class="btn btn-blue px-4" th:href="@{/categories/list_categories}">Cancel</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<!-- warning -->
			<div th:replace="fragments/modal-fragments" id="modal-fragment"></div>
			<!-- end warning -->

			<!--Start Rightbar-->
			<div th:replace="fragments/right-bar" id="right-bar"></div>

			<!--Start Footer-->
			<div th:replace="fragments/inc-footer" id="inc-footer"></div>

		</div>
	</div>

	<!-- Javascript  -->
	<script type="text/javascript">
		MAX_FILE_SIZE = 500768;
	
		moduleURL = "[[@{/categories}]]";

		function showImgThumbnail(input) {
			var reader = new FileReader();
			reader.onload = function(e) {
				$("#thumbnail").attr("src", e.target.result);
			};
			reader.readAsDataURL(input.files[0]);
		}

		function checkUnique(form) {
			catId = $("#id").val();
			catName = $("#name").val();
			catAlias = $("#alias").val();
			csrfValue = $("input[name='_csrf']").val();

			url = "[[@{/categories/check_unique}]]";

			params = {
				id : catId,
				name : catName,
				alias : catAlias,
				_csrf : csrfValue
			};
			$.post(url, params, function(response) {
				if (response == "OK") {
					form.submit();
				} else if (response == "DuplicateName") {
					showWarningModal("Danh mục đã được đăng kí: " + catName)
				} else if (response == "DuplicateAlias") {
					showWarningModal("Alias đã được đăng kí: " + catAlias)
				} else {
					showErrorModal("Không thể kết nối tới máy chủ");
				}
			}).fail(function() {
				alert('failed');
			});
			return false;
		}

	</script>

	<!-- App js -->
	<script src="js/app.js"></script>
</body>

</html>