<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	
	<!-- Phân trang -->
 	<th th:fragment="column_link(moduleURL,fieldName, columnLabel)">
 		<a th:href="@{${moduleURL}+'/page/' + ${currentPage} + '?sortField=' + ${fieldName} +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ' '}}">
			[[${columnLabel}]]
		</a>
		<span th:if="${sortField== fieldName}"
			th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
		</span>
	</th>
	<a th:fragment="page_link(moduleURL, pageNum, label)"
		class="page-link"
		th:href="@{${moduleURL} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  + ${keyword != null ? '&keyword=' + keyword : ' '}}">
		[[${label}]]
	</a>

	<!-- Pagination -->
	<div th:fragment="pagination(moduleURL, entityName)" th:remove="tag">
		<div class="row">
			<div class="col"></div>
			<div class="col-auto" th:if="${totalItems > 0}">
				<nav aria-label="...">
					<span>Trang [[${entityName}]] từ [[${startCount}]] đến
						[[${endCount}]] của [[${totalItems}]]</span>
					<ul class="pagination pagination-sm mb-0">
						<li
							th:class="${currentPage>1 ? 'page-item' : 'page-item disabled'}">
							<a th:replace="fragments/fragments :: page_link(${moduleURL},'1', 'First')"></a>
						</li>
						<li
							th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
							<a
							th:replace="fragments/fragments :: page_link(${moduleURL}, ${currentPage - 1}, 'Previous')"></a>
						</li>
						<li
							th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
							th:each="i : ${#numbers.sequence(1, totalPages)}"><a
							th:replace="fragments/fragments :: page_link(${moduleURL}, ${i}, ${i})"></a></li>
						<li
							th:class="${currentPage< totalPages ? 'page-item' : 'page-item disabled'}">
							<a
							th:replace="fragments/fragments :: page_link(${moduleURL}, ${currentPage + 1}, 'Next')"></a>
						</li>
						<li
							th:class="${currentPage< totalPages ? 'page-item' : 'page-item disabled'}">
							<a
							th:replace="fragments/fragments :: page_link(${moduleURL}, ${totalPages}, 'Last')">Last</a>
						</li>
					</ul>
					<!--end pagination-->
				</nav>
				<!--end nav-->
			</div>
			<!--end col-->
			<div th:unless="${totalItems > 0}" style="text-align: center;">
				<strong>Không tìm thấy [[${entityName}]]</strong>
			</div>
		</div>
	</div>
	
	<!-- search -->
	<div th:fragment="search_form(moduleURL)">
		<ul class="list-unstyled topbar-nav mb-0">
			<li class="hide-phone app-search">
				<form role="search" th:action="@{${moduleURL}}" method="get">
					<input type="hidden" name="sortField" th:value="${sortField}" /> <input
						type="hidden" name="sortDir" th:value="${sortDir}" /> <input
						type="search" name="keyword" th:value="${keyword}"
						class="form-control top-search mb-0" placeholder="Type text...">
					<button type="submit">
						<i class="ti ti-search"></i>
					</button>
				</form>
			</li>
			<button type="button" class="btn btn-secondary" onclick="clearFilter()">Clear</button>
		</ul>
	</div>
	
</body>
</html>