<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
 	<th th:fragment="column_link(fieldName, columnLabel)">
 		<a th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName} +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ' '}}">
			[[${columnLabel}]]
		</a>
		<span th:if="${sortField== fieldName}"
			th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
		</span>
	</th>
	<a th:fragment="page_link(moduleURL, pageNum, label)"
		class="page-link"
	 	th:href="@{${moduleURL} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  + ${keyword != null ? '&keyword=' + keyword : ' '}}">[[${label}]]</a>

	<div th:fragment="pagination(moduleURL, entityName)" th:remove="tag">
		<div class="row">
			<div class="col"></div>
			<div class="col-auto" th:if="${totalItems > 0}">
				<nav aria-label="...">
					<span>Trang [[${entityName}]] từ [[${startCount}]] đến
						[[${endCount}]] của [[${totalItems}]]</span>
					<ul class="pagination pagination-sm mb-0">
						<li
							th:class="${currentPage>1 ? 'page-item' : 'page-item disabled'}">
							<a th:replace="fragments/fragments :: page_link(${moduleURL},'1', 'First')"></a>
						</li>
						<li
							th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
							<a
							th:replace="fragments/fragments :: page_link(${moduleURL}, ${currentPage - 1}, 'Previous')"></a>
						</li>
						<li
							th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
							th:each="i : ${#numbers.sequence(1, totalPages)}"><a
							th:replace="fragments/fragments :: page_link(${moduleURL}, ${i}, ${i})"></a></li>
						<li
							th:class="${currentPage< totalPages ? 'page-item' : 'page-item disabled'}">
							<a
							th:replace="fragments/fragments :: page_link(${moduleURL}, ${currentPage + 1}, 'Next')"></a>
						</li>
						<li
							th:class="${currentPage< totalPages ? 'page-item' : 'page-item disabled'}">
							<a
							th:replace="fragments/fragments :: page_link(${moduleURL}, ${totalPages}, 'Last')">Last</a>
						</li>
					</ul>
					<!--end pagination-->
				</nav>
				<!--end nav-->
			</div>
			<!--end col-->
			<div th:unless="${totalItems > 0}" style="text-align: center;">
				<strong>No [[${entityName}]] found</strong>
			</div>
		</div>
	</div>
</body>
</html>