<!DOCTYPE html>
<html>
<body>
<div th:fragment="content" class="row">
	<form action="@{/settings/save_general" method="post">
		<div class="col-md-6">
			<div class="form-group row mb-2">
				<label class="col-lg-2 col-form-label text-end">Site name :</label>
				<div class="col-lg-9">
					<input type="text" class="form-control" th:field="*{name}"
						th:readonly="${#authorization.expression('hasAuthority(''Salesperson'')')}"
						required minlength="3" maxlength="256">
				</div>
			</div>
		</div>
	</form>
</div>
</body>
</html>